body {
    margin: 24px;
    background-color: #1B244A;

    color: white;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.scorescreen {
    margin: 0 8px;
    
    
    
    
}

.scoreboard{
    padding: 0 12px;
    align-content: center;
    /* background-color: black; */
    
    
    /* justify-content: center; */
}

.actual-score{
    margin: 0, 12px;
    font-size: 36px;
    font-weight: bold;
    font-family: Cursed Timer ULiL;
    background-color: black;
    text-align: center;
    padding: 16px 12px;
    border-radius: 12px;
    color: #99FFB6;
    
}

.title{
font-size: 32px;
text-align: center;
}

.score-button{
    border: 2px solid #9AABD8;
    color: #9AABD8;
    /* border-color: #9AABD8; */
    background: none;
    padding: 8px;
    cursor: pointer;
    /* border: 1px; */
    border-radius: 4px;
    
}

.score-button:hover{
    background: rgba(255, 255,255, 0.2);
    color: #B6C9FF;
    /* fill-opacity: 10; */
}

.reset-button{
    cursor: pointer;
    background: #9AABD8;
    color: #1B244A;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin: auto;    
    width: 100%;    
    font-weight: 500;
}

.reset-div{
    width: 300px;
    margin-top: 24px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    
    
}